<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="wrapper">
    <h1>Now Playing at a Theater Near You:</h1>

<% movies.forEach(function(el){ %>
    <h2><%- el.title %></h2>
    <img class="mb-2"src="https://image.tmdb.org/t/p/w500<%= el.poster_path %>">
    <h6 class="mb-3"><%= el.overview %><h6>
    <h4 class="mb-5">Rating: <%= el.vote_average%> out of 10 stars</h4>
<% }) %>


</div>

<%- include('partials/footer.ejs') %>